<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/lists">
      <img src="https://th.bing.com/th/id/OIP.sVeyp_gbVDVcOyoiNqzT0AHaID?rs=1&pid=ImgDetMain" />
      </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/lists">My Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lists/new">New List</a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
